body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    font-size: 35px;
    height: 10vh;
    display: flex;
    align-items: center;
}
.main_width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px;
}
div.background {
    background-image: url("../img/concert.jpg");
    background-size: cover;
    min-height: 80vh;
    padding-top: 30px;
    color: white;
}
div.background h1 {
    color: white;
}
h1.welcomeText {
    font-family: 'Eagle Lake', cursive;
    font-size: 1.3em;
}
div.background a {
    color: white;
}
div.background a:clicked {
    color: white;
}
h4.menu a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}
div.title h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h4.info {
    font-family: 'Kalam', cursive;
}
span.error {
    background-color: red;
    color: white;
    padding: 8px;
}
label {
    color: white;
}
p.name {
    font-weight: 700;
    font-size: 20px;
    height: 25px;
    overflow: hidden;
}
div.events {
    background-color: black;
}
p.singleImage {
    width: 100%;
}
p {
    text-align: justify;
}
p.singleImage img {
    max-width: 100%;
    border: 2px solid white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
    box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
}
div.event {
    background-color: black;
    padding: 10px;
}
div.event p {
    font-size: 20px;
}
div.item {
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid white;
}
p.img {
    width: 100%;
    height: 270px;
}
p.img img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid white;
    -webkit-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    -moz-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
}
div.search {
    border: 1px solid white;
    border-radius: 2%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
}
div.searchInfo {
    padding: 10px;
}
section.searchInfo {
    margin-left: 10px;
}


footer {
    background-color: black;
    color: white;
    font-size: 15px;
    height: 10vh;
    padding-top: 5px;
}

/****************************/
/* Date Picker Styles       */
/****************************/
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
	z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
	margin-left: -1px;
}

body.wp-admin.rtl .ui-datepicker {
	margin-right: -1px;
}

.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\2190';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\2192';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker tr:first-of-type td {
	border-top: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/********************************/