body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main_width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px;
    height: 100%;
}
div.background {
    background-image: url("../img/concert.jpg");
    background-size: cover;
    min-height: 80vh;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin-top: 10vh;
    width: 100%;
}
div.background h1 {
    color: white;
}
h1.welcomeText {
    font-family: 'Eagle Lake', cursive;
    font-size: 1.3em;
}
div.background a {
    color: white;
}
div.background a:clicked {
    color: white;
}
h4.menu a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}
div.title h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h4.info {
    font-family: 'Kalam', cursive;
}
header {
    background-color: black;
    color: white;
    font-size: 3em;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 10px 13px -8px rgba(247,244,247,1);
    -moz-box-shadow: 0px 10px 13px -8px rgba(247,244,247,1);
    box-shadow: 0px 10px 13px -8px rgba(247,244,247,1);
}
header div.main_width {
    padding-bottom: 0;
    padding-top: 0;
}
div#headerBox {
    width: 100%;
    height: 100%;
    display: flex;
}
header section.appName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
header section.appName span {
    text-align: center;
}
header section.menu {
    display: none;
}
@media (min-width:768px) {
    header section.menu {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    }
    header section#hamburger {
        display: none;
    }
}
#menu  {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  height:2.5em;
  line-height:2em;
  text-align:center;
  width: 100%;
  z-index: 1;
}
#menu > li {
  float:left;
  background-color: black;
  width:45%;
  height:2em;
}
#menu>li>a {
  height: 100%;
  width: 100%;
}
#menu>li:first-child>a>div{
  background-image: url("../img/home.png");
}
#menu>li:nth-child(2)>a>div{
  background-image: url("../img/user.png");
}
section#hamburger {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#hamburger div{
  background-image: url("../img/hamburgerMenu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#hamburger>ol>li>ul {
    width: 400%;
}
#menu>li>a>div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#menu a {
  display:block;
  color: #000;
  text-decoration:none;
}
#menu  a:hover {
  color:#09C;
}
#menu > li:hover {
  background-color:black;
  border: 1px solid white;
}
#menu li:hover li {
    border: 1px solid white;
}
#menu > li > ul, #menu ol {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size: 15px;
}
#menu > li > ul > li {
  background-color:black;
  position: relative;
}
#menu  a {
  color: white;
}
#menu ul li:hover {
  background-color:#DDD;
}
#menu  li:hover>a {
    color: black;
}
#menu > li > ul {
  display:none;
}

#menu > li:hover > ul {
  display:block;
}

#menu > li > ul > li > ol {
  width:150%;
  position: absolute;
  left: 100%;
  margin-top:-38px;
  display: none;
}

#menu > li > ul > li > ol > li {
  background-color:#2c2c2c;
  border: 1px solid white;
}
#menu > li > ul > li > ol > li > a {
  color: white;
}
#menu > li > ul > li:hover > ol {
  display:block;
}


span.error {
    background-color: red;
    color: white;
    padding: 8px;
}
span.info {
    background-color: orange;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a.inRow {
    margin-right: 25px;
}
label {
    color: white;
}
p.name {
    font-weight: 700;
    font-size: 20px;
    height: 25px;
    overflow: hidden;
}
div.events {
    background-color: black;
}
p.singleImage {
    width: 100%;
}
p {
    text-align: justify;
}
p.singleImage img {
    max-width: 100%;
    border: 2px solid white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
    box-shadow: 10px 10px 5px 0px rgba(51,46,51,1);
}
div.event {
    background-color: black;
    padding: 10px;
}
div.event p {
    font-size: 20px;
}
div.item {
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid white;
    height: 515px;
}
p.img {
    width: 100%;
    height: 270px;
}
p.img img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid white;
    -webkit-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    -moz-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
}
div.search {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
}
div.searchInfo {
    padding: 10px;
    border-radius: 10px;
}
section.searchInfo {
    margin-left: 10px;
}


footer {
    background-color: black;
    color: white;
    font-size: 15px;
    height: 10vh;
    padding-top: 5px;
    -webkit-box-shadow: 0px -10px 13px -8px rgba(247,244,247,1);
    -moz-box-shadow: 0px -10px 13px -8px rgba(247,244,247,1);
    box-shadow: 0px -10px 13px -8px rgba(247,244,247,1);
}
#footerBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer div#mail {
    background-image: url("../img/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 60%;
    cursor: pointer;
}
footer div#lk {
    background-image: url("../img/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 60%;
    cursor: pointer;
}
footer div#gh {
    background-image: url("../img/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 60%;
    cursor: pointer;
}
footer div#lk a, footer div#gh a {
    width: 100%;
    height: 100%;
}
footer div#lk a p, footer div#gh a p {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px){
    footer div#gh, footer div#lk, footer div#mail {
        width: 8%;
    }
}
.btn {
    margin-bottom: 15px;
}

div.background a.newPwd {
    color: #333;
}
div.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.singleButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/********************************/
/*   Admin modules              */
/********************************/

#usersTable {
    background-color: black;
}
#usersTable td {
    color: black;
}
#usersTable td.number, #usersTable th.number, #categoriesTable .number {
    text-align: right;
}
#usersTable td.center, #usersTable th.center, #categoriesTable .center {
    text-align: center;
}
#usersTable tr.admin {
    background-color: #faebcc;
}
#usersTable tr.user {
    background-color: #c0c0c0;
}
#usersTable tr.dangerUser {
    background-color:  	 #ffb3b3;
}
#usersTable tr.banned {
    background-color: #666666;
}
#usersTable a.add {
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}
#usersTable a.delete, #categoriesTable a.delete {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}
#usersTable a.blok {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
}
input.searchUser {
    max-width: 300px;
    background-image: url('../img/searchicon.png'); 
    background-repeat: no-repeat; 
    background-size: contain;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 10px;
}
.usersSearch {
    -webkit-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    -moz-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
}
div.categories, table#categoriesTable {
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    -moz-box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
    box-shadow: 3px 6px 45px 0px rgba(112,104,112,1);
}
/* przycisk sortowania */
button.sort {
    background-image: url('../img/sort.png'); 
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center center;
}
button.sort {
    height: 20px;
    width: 40px;
}
span.sort {
    margin-right: 10px;
}
/*****************************/
/*   Main Page               */
/*****************************/
div.nextEventsBox, div.lastEventsBox {
    display: none;
}
@media (min-width:768px) {
    div.nextEventsBox, div.lastEventsBox {
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    -moz-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    }
}
h3.onlyBigScreen {
    display: none;
}
@media (min-width:768px){
    h3.onlyBigScreen {
        display: block;
    }
}
div.nextEventsItems, div.lastEventsItems {
    height: 100%;
    width: 90%;
    display: flex;
}
div.goLeftNext, div.goRightNext, div.goLeftLast, div.goRightLast {
    height: 100%;
    width: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
} 
div.goLeftNext, div.goLeftLast {
    background-image: url("../img/leftArrow.png");
}
div.goRightNext, div.goRightLast {
    background-image: url("../img/rightArrow.png");
}
div.invisible {
    display: none;
}
div.nextEvent, div.lastEvent {
    width: 25%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    
}
div.nextEvent div.nextEventImg, div.lastEvent div.lastEventImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.mainPageSearch {
    -webkit-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    -moz-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
}
.mainPageSearch span {
    text-align: center;
    font-size: 18px;
}
.mainPageSearch .form-group {
    margin-left: 5px;
}

div#rules  {
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    -moz-box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    box-shadow: -1px -1px 42px 0px rgba(153,141,153,1);
    padding: 20px;
    
}
div.bottomMenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 25px;
    padding: 10px;
}
/****************************/
/* Date Picker Styles       */
/****************************/
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
	z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
	margin-left: -1px;
}

body.wp-admin.rtl .ui-datepicker {
	margin-right: -1px;
}

.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\2190';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\2192';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker tr:first-of-type td {
	border-top: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/********************************/